.status {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: red;
}

.status.isOnline {
    background-color: green;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #80e08e;
    background-color: #80e08e;
}

.name {
    font-size: 35px;
    font-weight: 600;
}